@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$select-color: #ff838d;

body {
  background-color: #191717;
  font-family: 'Cabin', sans-serif;
}

::-moz-selection {
  background-color: $select-color;
}

::selection {
  background-color: $select-color;
}

.main-window {
  width: 100vw;
}

.side-bar {
  width: 10vw;
}
a {
  text-decoration: none;
  @apply text-xl;
}