// @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://api.fonts.coollabs.io/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$select-color: #ff838d;

body {
  background-color: #191717;
  font-family: 'Cabin', sans-serif;
}

::-moz-selection {
  background-color: $select-color;
}

::selection {
  background-color: $select-color;
}

.main-window {
  width: 100vw;
}

.side-bar {
  width: 15vw;
}

a {
  text-decoration: none;
  @apply text-xl;
}

span {
  color: white;
}

code {
  background-color: white;
  color: black;
  padding: 3px 0 3px 0;
}
